/* Document
   ========================================================================== */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 4. Set Antialising
 * 5. Set Box-sizing to border-box by default
 */

html
{
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  font-size: 16px;
  @media (max-width: 1000px) {
    font-size: 1.6vw;
  }

  /* 1 */
  word-spacing: 1px; /* 1 */
  letter-spacing: 1px;
  //line-height: 20px; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
  -moz-osx-font-smoothing: grayscale; /* 4 */
  -webkit-font-smoothing: antialiased; /* 4 */
  box-sizing: border-box;
  //background-color: #fff;
  //color: #333;
  overflow: hidden;
}

*, *:before, *:after
{
  box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $ft-fm-def;
  font-weight: $ft-wt-bold;
  margin: 0.5em 0;
}
p {
  font-family: $ft-fm-def;
  font-size: $ft-sz-def;
  line-height: 1.8em;
  margin: 1em 0;
}
h1 {
  font-size: $ft-sz-h1;
}
h2 {
  font-size: $ft-sz-h2;
}
h3 {
  font-size: $ft-sz-h3;
}

h4 {
  font-size: $ft-sz-h4;
}

h5 {
  font-size: $ft-sz-h5;
}

h6 {
  font-size: $ft-sz-h6;
}
.post__title {
  font-size: $ft-sz-page-title;
}
