/*------------------------------------*\
    #FONTS
\*------------------------------------*/
// @import "/fonts/font.css";




// Weight
$ft-wt-def:   400;
$ft-wt-light: 400;
$ft-wt-bold:  900;

$ft-wt-h1-6: $ft-wt-bold;





// Size

$ft-sz-def:  1.1rem;
$ft-sz-sm:   1rem;
$ft-sz-smer: 0.9rem;

$ft-sz-page-title: 2.8rem;

$ft-sz-h1: 2.2rem;
$ft-sz-h2: 1.8rem;
$ft-sz-h3: 1.6rem;
$ft-sz-h4: 1.4rem;
$ft-sz-h5: 1.2rem;
$ft-sz-h6: 1.1rem;

$ft-sz-qt: 1rem;
// Margin
$mg-post-title: 0 1rem 0 0;

// Padding
$pd-post-title: 1rem;

// Line Height

// Indent
$te-in-p: 2rem;
